name: Run CV Forecast

on:
  workflow_dispatch:        # manual button click
  schedule:
    - cron: "0 20 * * *"    # daily run (20:00 UTC)

jobs:
  forecast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run forecast script
        run: |
          python jamesmillercvForecast.py
